// Define variables for device widths
$mobile-width: 600px;
$tablet-width: 1024px;
$desktop-width: 1200px;



//Mobile
@media only screen and (max-width: $mobile-width) {

    //Banner
    header {
        background: $primary-color;
        top: 0;

        .banner {   
            padding: 0 0 5em;

            h1 {
                font-size: $h2-mob-font-size;
            }

            .pdf {

                .resume {
                    box-shadow: 0px 1.5px 2.5px gray;
                    padding: 0.8em 1.5em;
                    font-size: $p-mob-font-size;
                    border-radius: 20px;
                    @include fifth-font-family;
                }
            }

            img {
                height: 182px;
                width: 182px;
                border-radius: 50%;
                box-shadow: 3px 3px 13px black;
                margin: 3.5em 3em 3em;
            }
        }
    }
    
    //Experience
    #experience{
        padding: 0 0 3em;
        h2{
            font-size: $h2-mob-font-size;
            color: $secondary-color;
        }

        h3{
            font-size: $h3-mob-font-size;
            color: $secondary-color;
        }

        .project1, .project2, .project3{
            padding: 2em 1.5em;
            background: none;
            
        }

        .row{
            padding: 1.5em 0;

            .desc{
                font-size: $p-mob-font-size;
                line-height: 1.5em;
                margin-bottom: 2em;
                padding-top: 3.5em;
            }

            .exp-img{
                width: 20em;
                height: 20em;
            }
        }
    }

    //Skills
    #myskills{
        background: none;
        h2{
            font-size: $h2-mob-font-size;
        }

        p, td{
            font-size: $p-mob-font-size;
        }

        .row{
            table{
                td{
                    div{
                        width: 16em;
                        height: 1.5em;
                        box-shadow: 0px 1px 3px gray;
                        }
                    }
                }

            .tools{
                margin-top: 3em;

                table{
                    margin-left: 0;

                    td{

                        p{
                            padding-left: 0.5em;
                            font-size: $p-mob-font-size;
                        }
                    }
                }

                img{
                    width: 5em;
                    height: 5em;
                    box-shadow: 10px 10px 10px rgb(220, 220, 220);
                }
            }
            }
        }

        //About
        #about{
            h2{
                font-size: $h2-mob-font-size;
            }

            h3{
                font-size: $p-mob-font-size;
                line-height: 1.5em;
            }
        }

        //Footer
        footer{
            p, a{
                font-size: $p-mob-font-size;
            }

            .chat{
                margin-bottom: 20px;
                width: auto;
                padding: 0 2.5em;
            }

            .social{
                text-align: center;
                margin: 1.5em;
                a{
                    display: block;
                    margin: 0 0 0.3em;
                }
            }
            
        }
    }


//Tablet size
@media only screen and (min-width: #{$mobile-width + 1}) and (max-width: $tablet-width) {
    //Banner
    header {
        background: $primary-color;
        top: 0;

        .banner {   
            padding: 3em 0 5em;

            h1 {
                font-size: $h1-web-font-size;
            }

            .pdf {

                .resume {
                    box-shadow: 0px 1.5px 2.5px gray;
                    padding: 0.8em 1.5em;
                    font-size: $p-web-font-size;
                    border-radius: 20px;
                    @include fifth-font-family;
                }
            }

            .profile{
                padding-top: 2em;
            }

            img {
                height: 364px;
                width: 364px;
                border-radius: 50%;
                box-shadow: 3px 3px 13px black;
                margin: 3.5em 3em 3em;
            }
        }
    }

    //Experience
    #experience{

        .project1{
            padding-top: 8em !important;
            background: none;

            .exp-img{
                margin-top: 3em;
            }
        } 
        
        .project2, .project3{
            background: none;
            padding: 4em !important;
            
        }

        .project2 .desc{
            padding-top: 5em !important;
        }

        .project3 .exp-img{
            margin-top: 3em;
        }

        

        .row{
            //padding: 1.5em 0;

            .desc{
                line-height: 1.5em;
                //margin-bottom: 2em;
                //padding: 3em 0;
            }


        }
    }

    //Skills
    #myskills{
        padding: 8em 4em;
        background: none;
        .row{

            p{
                padding-left: 0.5em;
            }

            table{
                td{
                    div{
                        // width: 16em;
                        // height: 1.5em;
                        // box-shadow: 0px 1px 3px gray;
                        }
                    }
                }

            .tools{
                margin-top: 5em;

                table{
                    margin-left: 0;

                    td{

                        p{
                            // padding-left: 0.5em;
                            // font-size: $p-mob-font-size;
                        }
                    }
                }

                img{
                    margin-right: 3em;
                    // width: 5em;
                    // height: 5em;
                    // box-shadow: 10px 10px 10px rgb(220, 220, 220);
                }
            }
            }
        }

        //About
        #about{
            padding: 8em 4em;
            font-size: $p-tab-font-size;
        }

        //Footer

}


//Tablet size
@media only screen and (min-width: #{$tablet-width + 1}) and (max-width: #{$desktop-width - 1}) {
    //Banner
    header {

        a{
            margin-left: 40px;
            font-size: $p-tabl-font-size;
        }

        .banner {   

            h1 {
                font-size: $h1-tabl-font-size;
            }

            .pdf {

                .resume {
                    box-shadow: 0px 1.5px 2.5px gray;
                    padding: 1em 2em;
                    font-size: $p-tabl-font-size;
                    border-radius: 20px;
                    @include fifth-font-family;
                }
            }

        //     .profile{
        //         padding-top: 2em;
        //     }

            img {
                height: 240px;
                width: 240px;
                border-radius: 50%;
                box-shadow: 3px 3px 13px black;
                margin: 1.5em;
            }
         }
    }

    //Experience
    #experience{

        p{
            font-size: $p-tabl-font-size;
        }

        h3{
            font-size: $h3-tabl-font-size;
        }

        .project1{
            padding-top: 8em !important;
            //background: none;

            .exp-img{
                //margin-top: 3em;
                margin-left: 1.5em;
            }
        } 
        
        .project2, .project3{
            //background: none;
            padding: 4em !important;
            
        }

        .project2 .desc{
            //padding-top: 5em !important;
            padding-left: 2em;
        }

        .project3 .exp-img{
            margin-left: 1.5em;
        }

        

        .row{
            //padding: 1.5em 0;

            .desc{
                line-height: 1.5em;
                //margin-bottom: 2em;
                //padding: 3em 0;
            }


        }
    }

    //Skills
    #myskills{
        padding: 6em 4em;
        .row{

            p{
                padding-left: 0.5em;
                font-size: $p-tabl-font-size;
            }

            table{
                td{
                    div{
                        width: 24em;
                        height: 1.5em;
                        box-shadow: 0px 1px 3px gray;
                        }
                    }
                }

            .tools{
                //margin-top: 5em;

                table{
                    margin-left: 0;

                    td{
                        text-align: center;
                        p{
                            padding-left: 0;
                            font-size: $p-tabl-font-size;
                        }
                    }
                }

                img{
                    width: 5em;
                    height: 5em;
                }
            }
            }
        }

        //About
        #about{
            padding: 6em 4em;
            font-size: $h2-tabl-font-size;
            h3{
                font-size: $h3-tabl-font-size;
            }
        }

        //Footer
        footer{
            font-size: $h4-tabl-font-size;
            padding: 35px 0;
            .contact {
                padding: 8px 16px;
                font-size: $p-tabl-font-size;
            }
        }
}


  