@import "./variables";


//Tablet size
@media only screen and (min-width: #{$mobile-width + 1}) and (max-width: #{$tablet-width}) {
    //Banner
    header {
        background: $primary-color;
        top: 0;

        .navbar-light .navbar-toggler{
            border-color: $primary-color;
        }

        .nav-link {
            color: $secondary-color !important;
        }

        .banner {   
            padding: 3em 0 5em;

            h1 {
                font-size: $h1-tab-font-size;
            }

            .pdf {

                .resume {
                    box-shadow: 0px 1.5px 2.5px gray;
                    padding: 0.8em 1.5em;
                    font-size: $p-web-font-size;
                    border-radius: 20px;
                    @include fifth-font-family;
                }
            }

            .profile{
                padding-top: 2em;
            }

            img {
                height: 364px;
                width: 364px;
                border-radius: 50%;
                box-shadow: 3px 3px 13px black;
                margin: 3.5em 3em 3em;
            }
        }
    }

    //Experience
    #experience{
        .proj-img{
            display: none;
        }
    
        .project0, .project1, .project2, .project3{
            background: none;
            padding: 3em 3em !important;
            .card-body{
                background-color: #fff;
            }
        }

        .row{
            padding: 0;

            .exp-img{
                width: 15em;
                height: 15em;
            }

            .desc{
                line-height: 1.5em;
                width: auto;
                //margin-bottom: 2em;
                //padding: 3em 0;
                .btn{
                    font-size: $p-tab-font-size;
                }

                
            }


        }
    }

    //Skills
    #myskills{
        padding: 4em;
        background: none;
        .row{
            margin-top: 2;
            p{
                padding-left: 0.5em;
            }


            .tools{
                margin-top: 5em;

                table{
                    margin-left: 0;

                    td{

                        p{
                            // padding-left: 0.5em;
                            // font-size: $p-mob-font-size;
                        }
                    }
                }

                img{
                    margin-right: 3em;
                    // width: 5em;
                    // height: 5em;
                    // box-shadow: 10px 10px 10px rgb(220, 220, 220);
                }
            }
            }
        }


//Achievements
#achievements{
    padding: 5em 0 5em;
    h3{
        font-size: $h3-tab-font-size !important;
    }

    h2{
        font-size: $h2-tab-font-size !important;
    }

    .carousel-inner{
    
        //color: $primary-color;
        height: 15em ;
    }
}

//About
#about{
    padding: 8em 4em;
    h3{
        font-size: $p-tab-font-size !important;
    }
    
}

//Footer
.social{
    text-align: center;
    margin: 2.5em !important;
    a{
        margin: 0 1em !important;
        .fa-brands{
            font-size: 2em;
        }
    }
}
}