/* Colors */
$primary-color : #F6F6F6;
$secondary-color: #394750;
$third-color: #65C18C;
$fourth-color: #8FD9A8;

/* Font Family */
@mixin primary-font-family {
    font-family: 'Exo 2', sans-serif; //body p
    font-weight: 400;
}

@mixin secondary-font-family {
    font-family: 'Exo 2', sans-serif; //body heading
    font-weight: 500;
}

@mixin third-font-family {
    font-family: 'Noto Serif', serif; //Cover page greet
    font-weight: 400;
}

@mixin fourth-font-family {
    font-family: 'Cedarville Cursive', cursive; //About me
    font-weight: 400;
}

@mixin fifth-font-family {
    font-family: 'Roboto', sans-serif; //Role
    font-weight: 400;
}

@mixin sixth-font-family {
    font-family: 'Courier New', Courier, monospace; //Role
    font-weight: 400;
}


/* Web Font size */
$h1-web-font-size: 42px;
$h2-web-font-size: 24px;
$h3-web-font-size: 22px;
$h4-web-font-size: 18px;
$p-web-font-size : 16px;


/* Tablet font size */
$h1-tab-font-size: 30px;
$h2-tab-font-size: 20px;
$h3-tab-font-size: 18px;
$h4-tab-font-size: 14px;
$p-tab-font-size: 12px;


/* Tablet landscape font size */
$h1-tabl-font-size: 36px;
$h2-tabl-font-size: 22px;
$h3-tabl-font-size: 20px;
$h4-tabl-font-size: 16px;
$p-tabl-font-size: 14px;


/* Mobile Font size */
$h1-mob-font-size: 32px;
$h2-mob-font-size: 22px;
$h3-mob-font-size: 20px;
$h4-mob-font-size: 16px;
$p-mob-font-size: 14px;
