/* Colors */
/* Font Family */
/* Web Font size */
/* Tablet font size */
/* Tablet landscape font size */
/* Mobile Font size */
@media only screen and (max-width: 600px) {
  header {
    background: #F6F6F6;
    top: 0;
  }
  header .navbar-light .navbar-toggler {
    border-color: #F6F6F6;
  }
  header .nav-link {
    color: #394750 !important;
  }
  header .banner {
    padding: 0 0 5em;
  }
  header .banner h1 {
    font-size: 28px;
  }
  header .banner .pdf .resume {
    box-shadow: 0px 1.5px 2.5px gray;
    padding: 0.8em 1.5em;
    font-size: 16px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  header .banner img {
    height: 182px;
    width: 182px;
    border-radius: 50%;
    box-shadow: 3px 3px 13px black;
    margin: 3.5em 3em 3em;
  }
  #experience {
    padding: 2em 0;
  }
  #experience h2 {
    font-size: 28px;
    color: #394750;
  }
  #experience h3 {
    font-size: 24px;
    color: #394750;
  }
  #experience hr {
    width: 80%;
  }
  #experience .project0, #experience .project1, #experience .project2, #experience .project3 {
    padding: 1.5em 1.5em 0;
    background: none;
  }
  #experience .project0 .card-body, #experience .project1 .card-body, #experience .project2 .card-body, #experience .project3 .card-body {
    background-color: #fff;
  }
  #experience .row {
    padding: 0;
  }
  #experience .row .desc {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 2em;
    padding-top: 1.5em;
  }
  #experience .row .desc .btn {
    font-size: 16px;
    background: none;
    box-shadow: none;
    color: #394750 !important;
    padding: 0;
    text-decoration: underline;
  }
  #experience .row .exp-img {
    width: 10em;
    height: 10em;
  }
  #experience .row .proj-img {
    display: none;
  }
  #myskills {
    background: none;
    padding: 2em;
  }
  #myskills h2 {
    font-size: 28px;
  }
  #myskills p, #myskills td {
    font-size: 16px;
  }
  #myskills .row {
    margin-top: 2em;
  }
  #myskills .row table td div {
    width: 15em;
    height: 1.5em;
    box-shadow: 0px 1px 3px gray;
  }
  #myskills .row .tools {
    margin-top: 3em;
  }
  #myskills .row .tools table {
    margin-left: 0;
  }
  #myskills .row .tools table td p {
    padding-left: 0.5em;
    font-size: 14px;
  }
  #myskills .row .tools img {
    width: 4em;
    height: 4em;
    box-shadow: 10px 10px 10px rgb(220, 220, 220);
  }
  #achievements {
    padding: 4em 0.5em;
  }
  #achievements h3 {
    font-size: 24px !important;
  }
  #achievements h2 {
    font-size: 24px !important;
  }
  #achievements .carousel-inner {
    height: 15em;
  }
  #about {
    padding: 3em 0;
  }
  #about h2 {
    font-size: 28px;
  }
  #about h3 {
    font-size: 16px;
    line-height: 1.5em;
  }
  footer p, footer a {
    font-size: 16px;
  }
  footer .chat {
    width: auto;
    padding: 0 2.5em;
  }
  footer .social {
    text-align: center;
    margin: 2em 0 1.5em;
  }
  footer .social a {
    margin: 0 0.5em;
  }
  footer .social a .fa-brands {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=mobile.css.map */