@import "./variables";

header{
    background-color: $primary-color;
    position: absolute;
    top: 0;
    nav{
        margin-top: 10px;
        a{
            @include primary-font-family();
            margin-left: 60px;
            color: $secondary-color;
        }
    }
}

